<h2>注文履歴一覧</h2>
<table>
    <thead>
        <tr>
            <th>購入日時</th>
        </tr>
        <tr>
            <th>購入者</th>
        </tr>
        <tr>
            <th>注文個数</th>
        </tr>
    </thead>
    <tbody>
        <% @orders.each do |order| %>
        <tr>
            <th></th>
        </tr>
        <tr>
            <th><%= order.customer.fullname %></th>
        </tr>
        <tr>
            <th></th>
        </tr>
        <% end %>
    </tbody>
</table>