<h1>商品一覧</h1>
<% @items.each do |item| %>
<table class="table">
  <tbody>
    <tr>
      <td><%= link_to image_tag item.get_image(100,100), item_path(item.id) %></td>
    </tr>
    <tr>
      <td><%= item.name %></td>
    </tr>
    <tr>
      <td><%= item.price %></td>
    </tr>
  </tbody>
</table>
<% end %>
